@import './scss/variables';
@import './scss/app';
@import './scss/general-style-rules';
@import './scss/model';
@import './scss/notification';
@import './scss/todo-item-container';
@import './scss/todo-input-section';














/*.subtask-list-container {
  width: 100%;
  .subtask-list {
    list-style: none;
    padding: 0;
    background: #fff;
    margin: 0;
    .subtask-list-item {
      position: relative;
      padding: 1em 0 .5em 1em;
      border: 1px solid #949FC4; 
      &:first-of-type {
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
      }
      &:nth-of-type(n+2) {
        border-top: none;
      }
      &:last-of-type {
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
      }
      .edit {
        position: absolute;
        font-size: 1.5em;
        top: calc(50% - .75em);
        right: 1.75em;
        color: #999;
        display: none;
      }
      .delete {
        position: absolute;
        font-size: 2em;
        top: calc(50% - .75em);
        right: .5em;
        color:crimson;
        display: none;
 
      }
      &:hover  .delete,
      &:hover .edit {
        display: block;
      }
    }
  }

}*/





 
