.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $todoLisItemBackgroundColor;
    padding: 3em 1em;
    border: 2px solid $itemListBoderColor;
    border-top: none; 
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
     .notification-content {
       .notification-heading {
          font-weight: 500;
          text-align: center;
          margin:1em auto .5em;
          color:darken($todoLisItemBackgroundColor, 80%);
        }
        .notification-description {
          margin:0;
          text-align: center;
          color:darken($todoLisItemBackgroundColor, 30%);
       }
    }
  
  }//end of error