@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
$backgroundColor: linear-gradient(135deg, #ff8c00 0%,#ff4500 20%,#ff4500 29%,#f72517 100%);
$btnBackgroundColor: rgba(0,0,0,0.6);
$todoLisItemBackgroundColor: #E8EBF5 ;
$todoItemBorder: $backgroundColor;
$taskStrikethrough:#3F826D;
$modalBackgroundColor: #E8EBF5;
$itemListBoderColor:#b0c4cb;
